@use "../assets"as *;

.projects {
    display: flex;
    width: 100%;
    margin-top: 150px;
    align-items: center;
    justify-content: center;

    .project_hold {
        max-width: 1300px;
        background-color: $color-red;
        box-shadow: 0px 0px 20px #23222248;

        .project_head {
            max-width: 100%;
            padding: 1% 1.5% 1% 2%;
            text-align: center;

            h4 {
                color: $color-white;
            }
        }

        .project_body {
            display: flex;
            width: 1250px;
            padding: 3rem 1rem;
            margin: auto;
            justify-content: space-evenly;
            text-align: center;
            background-color: $color-white-dark;

            a {
                width: 26%;
                background-color: $color-white-dark;
                border: 2px solid rgba(83, 83, 83, 0.342);
                text-decoration: none;
                transition: 0.5s;

                .project_item {
                    font-family: $fs-primary;
                    transition: 0.5s;

                    .project_item_img {
                        display: flex;
                        min-height: 200px;
                        background-color: $color-yellow-white-dark;
                        align-items: center;
                        justify-content: left;

                        h4 {
                            width: 100%;
                            padding: 5%;
                            text-align: center;
                            color: $color-gray;
                            font-size: clamp(1rem, 6vw, 2.2rem);
                        }
                    }

                    .project_link {
                        width: 100%;
                        padding: 2px;
                        margin-top: -23px;

                        h5 {
                            display: inline-block;
                            width: 50%;
                            margin: auto;
                            padding: 10px 20px;
                            border-radius: 2rem;
                            color: $color-red;
                            font-size: clamp(0.8rem, 4.5vw, 1.3rem);
                            background-color: $color-white;
                        }
                    }

                    P {
                        display: flex;
                        padding: 1rem 1.5rem;
                        line-height: 1.5rem;
                        letter-spacing: 0.5px;
                        text-align: center;
                        color: $color-gray;
                        font-size: clamp(0.8rem, 4.5vw, 1.1rem);
                        transition: 0.5s;

                    }
                }

                // .project_one {

                //     .project_item_img {
                //         background-color: $color-yellow-white-dark;
                //     }
                // }

                // .project_two {

                //     .project_item_img {
                //         background-image: url("../picture/back-black-2.png");
                //     }
                // }

                // .project_three {

                //     .project_item_img {
                //         background-image: url("../picture/back-black-3.png");
                //     }
                // }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .projects {

        .project_hold {
            max-width: 1150px;

            .project_body {
                display: flex;
                width: 100%;

                a {
                    margin: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .projects {

        .project_hold {
            max-width: 1100px;
        }
    }
}

@media screen and (max-width: 1150px) {
    .projects {

        .project_hold {
            max-width: 1000px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .projects {
        height: auto;
        padding-top: 150px;
        padding-bottom: 100px;
        margin-top: 0;

        .project_hold {
            max-width: 700px;

            .project_body {
                flex-direction: column;
                padding: 0;
                text-align: center;

                a {
                    width: 70%;
                    margin: 3rem auto;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .projects {

        .project_hold {
            max-width: 600px;

            .project_body {

                a {
                    width: 80%;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .projects {

        .project_hold {
            max-width: 90%;

            .project_body {

                a {
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .projects {

        .project_head {

            h4 {
                font-size: clamp(1.5rem, 8vw, 3.9rem);
            }
        }

        .project_hold {
            max-width: 90%;

            .project_body {

                a {
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {

    .projects {
        padding-top: 0px;
        padding-bottom: 0px;

        .project_hold {
            background-color: #ffffff00;
            max-width: 100%;
            box-shadow: none;
            padding-top: 80px;

            .project_head {

                h4 {
                    color: $color-red;
                }
            }

            .project_body {

                a {
                    width: 80%;
                }
            }
        }
    }
}
